@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
  background-color: #FFF7FB;
  font-family: 'Roboto', sans-serif;

}

.btm-mar {
  margin-bottom: 100px;
}

/* logo and jumbotron */

#logo {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    margin-top: 240px;
}

#logo-home {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    margin-top: 140px;
}

.home-jumbo {
  background-image: url('../assets/images/cupcakes_filtered.png');
  background-size: cover;
  height: 700px;
  color: white;
}

.intro {
  top: 55%;
  position: relative;
  text-align: center;
}
.button {
  background-color: #f2d0e6;
  color: ##fefcff;
  border: none;
}

.button:hover {
  background-color: #F8CBE5;
  color: #724085;
}

.button:active {
  background-color: #F8CBE5 !important;
  color: #724085 !important;
}

.header-background {
  background-image: url('../assets/images/BackgroundPicture2.png');
  background-size: cover;
  height: 250px;
  z-index: -2;
}

.top-navbar {
  background-color: #232323;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  background-color: #232323;
  position: fixed;
  height: 65px;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.top-nav {
  text-align: center;
}

.nav-item {
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
}

.link-text {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  width: 80px;
  text-align: center;
}

a:hover {
  color: #F8CBE5;
}

.display-6 {
  color: #232323;
  font-weight: bold;
}

.lead {
  color: #232323;
  font-weight: bold;
  text-align: justify;

}

.admin-pg-container {
  margin-top: 5%;
  padding-bottom: 5%;
}

/* card */

.card {
  text-align: center;
  position: absolute;
  left: 25%;
  top: 150px;
  height: auto;
  margin-top: 200px;
  padding-bottom: 150px;
  width: 50%;
  z-index: -1;
  background-color: #f7ffff;
}

.card-content {
  margin-top: 80px;
  color: #724085;
}

.admin-table tr:nth-child(even){background-color: #f2f2f2;}

.admin-table tr:hover {background-color: rgb(221, 221, 221);}

.admin-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.admin-table th {
  background-color: pink;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size: 1.2em;
}

.admin-table td, .admin-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.admin-pg-q {
  font-weight: bold;
  width: 200px;
}

.admin-pg-a {
  /* padding-left: 20%; */
}

.cont {
  min-width: 100%;
}

#insta-logo {
  width: 55px;
  padding-right: 20px;
}

@media (max-width: 900px) {

  .card {
    width: 80%;
    left: 10%;

  }
}
