

body {
  background-color: #F8CBE3;
}


/* logo */
#logo {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 5%;
    margin-top: 180px;
}

.jumbotron {
  background-image: url('../assets/images/BackgroundPicture.png');
}


/* About */

.card {
  position: absolute;
  left: 50%;
  top: 35%;
  height: 400px;
  margin-top: -100px;
  width: 400px;
  margin-left: -200px;
  z-index: -1;
}

.card-content {
  margin-top: 80px;

}
